@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body{
 background: linear-gradient(
     to right, #E3F3C4,
      #3AADC3, #225EA8);
      background-size: 400% 400%;
      animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.weather-box{
    width: 1200px !important;
    height: 500px !important;
    margin-top: 10%;
    border: 5px solid white;
}

p{
    color: aqua;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.weather-box {
    display: grid;
    grid-template-columns: 750px 1fr ;
  
    background: url(inner-back.png) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
    background-size: 75em;
  /* width: 300px;
  height: 300px; */
}

.CurrentWeather{
    
}

.img-box{
    background-color: black;
    margin: 100px 100px 0px;
    height: 200px;
}

.City-temputure{
    display: flex;
    justify-content: center;
    margin-top: 40%;
    font-family: 'Nunito', sans-serif;
}

.City-temputure div{
    display: block;
    justify-content: center;
}

.CurrentDegrees{
    color: white;
    margin-right: 20px ;
    font-size: 7em;
}

.Current-city-time{
    margin-top: 22px;
}

.Current-city-time div{
display: flex;
justify-content: space-around;
color: white;
}

.CurrentCity{
    font-size: 4em;
    
}

.Weather-Icon{
    font-size: 2em;
    margin-left: 1em;
    margin-top: 1em;
}




.time-date{
    display: flex;
    justify-content: center;
    margin-left: 0px;
}
.time-date div{

}




#Attributes{
   background-color: rgb(8, 8, 8, 0.5 );
   
}

#Attributes p{
  color: white;
  
 }




@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body{
        background: linear-gradient(
            to right, #E3F3C4,
             #3AADC3, #225EA8);
             background-size: 400% 400%;
             animation: animate-background 10s infinite ease-in-out;
       }
       
       @keyframes animate-background{
           0%{
               background-position: 0 50%;
           }
           50%{
               background-position: 100% 50%;
           }
           100%{
               background-position: 0 50%;
           }
       }

    .weather-box {
        display: block;
        width: 100% !important;
        
    }

    .Weather-Icon{
        margin-left: 10px;
    }

    .City-temputure{
        display: flex;
        justify-content: center;
        margin-top: 40%;
        margin-bottom: 10%;
    }



    .CurrentDegrees {
        color: white;
        margin-right: 8px;
        font-size: 43px;
        margin-top: 1em;
    }

    .CurrentCity{
        font-size: 33px;
    }

    .Current-city-time div{
        display: flex;
        justify-content: space-around;
        color: white;
        
        }

        .Current-city-time{
            margin-top: 39px;
        }


        .time-date{
            display: flex;
            justify-content: center;
            margin-left: 0px;
            justify-content: space-around;
        }

        .Current-date{
            margin-left: 6px;
        }



    
    

    #Attributes{
        height: 241px;
    }













}